NODE_ENV=development
DATABASE_URL="postgresql://postgres:password@localhost:5432/matrimony?schema=public"
JWT_SECRET="|UsvQR:<d)u!6ahOe{UYz^[sJB#%zN?bN(**%|urTnc"
ACCESS_SECRET=accessS3cert
REFRESH_SECRET=refereshS3cert
PORT=3000